table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

.dashboards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dashboard {
  border: 2px solid #a59393;
  padding: 50px;
  text-align: center;
}

.dashboard-value {
  font-size: 30px;
  font-weight: bold;
  color: #ddd5d5;
}


.circle {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.live-indicator-holder-dissabled {
    font-family: sans-serif;
    background: #5f5c5c;
    color: #FFF;
    padding: 4px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
  }

.live-indicator-holder {
    position: relative;
    
  }
  .live-indicator-holder .indicator {
    font-family: sans-serif;
    background: #ea2429;
    color: #FFF;
    padding: 4px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
  }

  

  .live-indicator-holder .indicator .blink {
    animation: blinker 0.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  }
  @keyframes blinker {
    from {
      opacity: 0.9;
    }
  to {
      opacity: 0.1;
    }
  }

  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: none !important;
  }

  tr:nth-child(even) {
    background-color: #303030; /* Replace with your desired shade of green */
  }

 
  /* Add some padding to the background overlay */
.background-overlay {
  padding: 20px;
}

/* Create a row layout for dashboards with a 5px gap between them */
.dashboards {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.dashboard {
  flex: 1; /* Equal width for each dashboard */
  text-align: center;
  padding: 20px;
  background-color: #333; /* Dark background color */
  border-radius: 10px; /* Rounded corners */
}

/* Style the dashboard values */
.stylish-value {
  font-size: 24px; /* Increase font size */
  color: #FFD700; /* Gold color */
  font-weight: bold; /* Bold text */
}

/* Style the h3 headers */
.dashboard h3 {
  font-size: 18px; /* Increase font size */
  color: #FFFFFF; /* White color */
  margin-bottom: 10px; /* Add some spacing between the header and value */
}
